*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    font-size: 16px !important;
}
body{
    background-color: #F5F5F5;
}

.email,.status,.ph-no,.marks{
    width: 80px;
}


.card{
    transition: 0.3s ease-in-out;
}
.card:hover{
    transform: scale(0.96);
    background-color: rgba(48, 153, 134, 0.25);
}

@media (max-width : 500px) {
    .email,.ph-no{
        width: 100%;
    }
}